# conda
CONDA_ENV_NAME="$CONDA_DEFAULT_ENV"
CONDA_ENV_PATH="$CONDA_PREFIX"

# pipenv
#export PIPENV_VENV_IN_PROJECT="enabled"

# virtualenvwrapper
export PROJECT_HOME=$HOME"/Users/nyxinsane/Documents/UvA Work/Automating equity/Study 1/Study1_Code"
PYTORCH_ENABLE_MPS_FALLBACK=1

# poetry
#export POETRY_VIRTUALENVS_PATH=$HOME"/Users/nyxinsane/Documents/UvA Work/Automating equity/Study 1/Study1_Code"

# torch
TOKENIZERS_PARALLELISM=true
