# conda
CONDA_ENV_NAME="$CONDA_DEFAULT_ENV"
CONDA_ENV_PATH="$CONDA_PREFIX"

# pipenv
#export PIPENV_VENV_IN_PROJECT="enabled"

# R
export PATH="/opt/homebrew/Caskroom/mambaforge/base/envs/study1_3.10/bin/R:$PATH"
R_HOME="/opt/homebrew/Caskroom/mambaforge/base/envs/study1_3.10/lib/R"
R_LIBS_USER="/opt/homebrew/Caskroom/mambaforge/base/envs/study1_3.10/lib/R/library"
R_LIBS_PATH="$R_LIBS_USER"
R_SITE_LIBS="/opt/homebrew/Caskroom/mambaforge/base/envs/study1_3.10/lib/R/site-library"

# torch
TOKENIZERS_PARALLELISM=true
PYTORCH_ENABLE_MPS_FALLBACK=1
TORCH_USE_CUDA_DSA=enable
