# Editors
.editorconfig
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store
/.DS_Store
**/.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
.pytest_cache
.trunk

# Translations
*.mo
*.pot

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.devcontainer
.pre-commit-config.yaml
wishlist.log

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
local_settings.py
db.sqlite3

# Docker
.dockerignore

# Docker Compose
docker-compose.yml
docker-compose.yaml
docker-compose.override.yml
docker-compose.override.yaml

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
/.ipynb_checkpoints
**/.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.envrc
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
.dockerignore
docker-compose.yml

# Circle
.circleci/

# Spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
/.mypy_cache
**/.mypy_cache
..mypy_cache
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintainted in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/

# Quarto
.quarto-cache/
.luarc.json

# R
.Rhistory
.RData
.Rhistory

# Stylesheet
.css
.cls
.lua

# .Rproj
.Rproj.user
Automating_Equity1_Code.Rproj

# Directories
*/*/Data/*
*/*/Found Data/*
*/*/Coding Material/*
1. Scraping/*/Data/*
1. Scraping/*/Found Data/*
!1. Scraping/CBS/Found Data/keywords_dict_manual.json
!1. Scraping/CBS/Found Data/*_Gender x Age_CBS_DATA.pkl
!1. Scraping/CBS/Found Data/*_Gender x Age_CBS_DATA_from_code.pkl
!1. Scraping/CBS/Found Data/SBI_ALL_NACE_REV2.csv
1. Scraping/Coding Material/*
2. Cleaning and Preprocessing/Coding Material/*
5. Typesetting/tables_and_figs
5. Typesetting/tables_and_figs/*
/data
data/
data/*
setup_module/WebDriver/
OLD *
/OLD
/OLD/*
setup_module/llama-main/
setup_module/llama-main
