absl-py==1.0.0
accelerate @ file:///home/conda/feedstock_root/build_artifacts/accelerate_1653320429027/work
alabaster==0.7.12
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1649500376817/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1655142616760/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
astunparse==1.6.3
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1656314577355/work
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1652969787139/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854217904/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1640686991047/work
cardinality==0.1.1
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1649412278309/work
certifi==2022.6.15
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656782895435/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1629909281805/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1651215461185/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1653061851209/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
colorlover==0.3.0
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5871d1ea-0250-4cd7-ac89-4b1e60514f5daqk8t0ow/croots/recipe/cryptography_1652101128666/work
cufflinks==0.17.3
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1649412242659/work
cysignals==1.11.2
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1652809323784/work
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1657553535177/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1658528993411/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1649586398338/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1657828092311/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1658531535352/work
docutils @ file:///Users/runner/miniforge3/conda-bld/docutils_1648737608263/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
enum34==1.1.10
et-xmlfile==1.0.1
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1658751300698/work
fake-useragent==0.1.11
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1658064924516/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1654070194245/work
flatbuffers==1.12
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1657249422413/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1653010523205/work
future==0.18.2
gast==0.4.0
gensim @ file:///Users/runner/miniforge3/conda-bld/gensim_1653483470327/work
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-trans-new==1.1.9
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1648882446127/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1658277749120/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1652727116927/work
h5pickle @ file:///home/conda/feedstock_root/build_artifacts/h5pickle_1602674528887/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964070496/work
HeapDict==1.0.1
httmock==1.4.0
http-request-randomizer==1.3.2
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1656151962285/work
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1658292970062/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
imbalanced-learn @ file:///home/conda/feedstock_root/build_artifacts/imbalanced-learn_1652728311148/work
import-ipynb==0.1.4
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1653252866254/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1658604161399/work
importnb @ file:///home/conda/feedstock_root/build_artifacts/importnb_1604880912237/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1654565047227/work
ipynb==0.5.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1653755018507/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1655973868664/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1649067325908/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1657629641118/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1637233406932/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1655961255101/work
jupyter-contrib-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_core_1657548529421/work
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-highlight-selected-word @ file:///Users/runner/miniforge3/conda-bld/jupyter_highlight_selected_word_1638383398747/work
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-nbextensions-configurator @ file:///Users/runner/miniforge3/conda-bld/jupyter_nbextensions_configurator_1614793049489/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1658332635171/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1655961217661/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1652925255303/work/keras-2.9.0-py2.py3-none-any.whl
Keras-Preprocessing==1.1.2
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1657953153960/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
langdetect @ file:///home/conda/feedstock_root/build_artifacts/langdetect_1622407545956/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1649033255679/work
libclang==14.0.1
libmaths==0.1.8
littleutils==0.2.2
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1654081936999/work
lz4 @ file:///Users/runner/miniforge3/conda-bld/lz4_1652795817506/work
Markdown==3.3.7
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1648737587623/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1651609723747/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1631080358261/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1635845001896/work
mizani==0.7.4
Morfessor==2.0.6
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1654260895051/work
multipledispatch==0.6.0
munkres==1.1.4
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1651135572878/work
mypy @ file:///Users/runner/miniforge3/conda-bld/mypy_1653492056902/work
mypy-extensions @ file:///Users/runner/miniforge3/conda-bld/mypy_extensions_1649013390665/work
natsort @ file:///home/conda/feedstock_root/build_artifacts/natsort_1643636597628/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1656688109017/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1649676641343/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nbimporter==0.3.4
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1640748215808/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1656187504160/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1653326072482/work
oauthlib==3.2.0
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
opt-einsum==3.3.0
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
outdated @ file:///home/conda/feedstock_root/build_artifacts/outdated_1628147837995/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
palettable==3.3.0
pandas==1.4.2
pandas-confusion==0.0.6
pandas-flavor==0.2.0
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1656568808184/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1657007225576/work
pingouin @ file:///home/conda/feedstock_root/build_artifacts/pingouin_1656105712146/work
pipe @ file:///home/conda/feedstock_root/build_artifacts/pipe_1654024712948/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1657729053205/work
plot-metric==0.0.6
plotly==5.8.0
plotnine @ file:///home/conda/feedstock_root/build_artifacts/plotnine_1656751932409/work
pre-commit @ file:///Users/runner/miniforge3/conda-bld/pre-commit_1651764417446/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1649427257112/work
pretty-errors @ file:///home/conda/feedstock_root/build_artifacts/pretty_errors_1638034747243/work
progressbar==2.5
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1656332401605/work
protobuf==3.19.4
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1653089418571/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11 @ file:///Users/runner/miniforge3/conda-bld/pybind11-split_1648909050761/work
pybind11-global @ file:///Users/runner/miniforge3/conda-bld/pybind11-split_1648909050761/work
pycld2==0.41
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1636021450594/work
pyfasttext==0.4.6
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1650904496387/work
PyICU @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/pyicu_1634900203308/work
pyjanitor @ file:///home/conda/feedstock_root/build_artifacts/pyjanitor_1637601942295/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1654597844531/work
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1610208984992/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyPDF2 @ file:///home/conda/feedstock_root/build_artifacts/pypdf2_1653852439286/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013444764/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857342405/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1648757198437/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1656183616434/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1658779569522/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
requests-oauthlib==1.3.1
researchpy==0.3.2
rsa==4.8
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1652976912267/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1653074167280/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1654004856587/work/src/py
semantic-version==2.10.0
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
session-info @ file:///home/conda/feedstock_root/build_artifacts/session-info_1649179682763/work
setuptools-rust==1.3.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
simpledorff==0.0.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn-pandas @ file:///home/conda/feedstock_root/build_artifacts/sklearn-pandas_1620483185865/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
sniffio @ file:///Users/runner/miniforge3/conda-bld/sniffio_1648819428791/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1651591303525/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1645713043381/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1648794027183/work
specification-curve==0.2.6
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1655452194084/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1649380998999/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1654061592116/work
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1658344693071/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1655315839047/work
statannotations==0.4.4
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1644535743558/work
stdlib-list @ file:///home/conda/feedstock_root/build_artifacts/stdlib-list_1602639452997/work
stop-words @ file:///home/conda/feedstock_root/build_artifacts/stop-words_1588828344353/work
swifter @ file:///home/conda/feedstock_root/build_artifacts/swifter_1649871059088/work
sympy==1.10.1
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1655900837660/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
tensorflow-metal==0.5.0
termcolor==1.1.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1652790673205/work
textblob==0.15.3
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1654189167894/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1653159019510/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1657178191936/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1658221006102/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1648827305171/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1649051611147/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1653178855237/work
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1654688413224/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1641849081899/work/dist
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1657029164904/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
ukkonen @ file:///Users/runner/miniforge3/conda-bld/ukkonen_1649407061920/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111980161/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1647489083693/work
virtualenv @ file:///Users/runner/miniforge3/conda-bld/virtualenv_1656500118275/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1648654410720/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==2.1.2
whatthelang==1.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1655939017940/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1651495340490/work
wsproto==0.14.0
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1658533631249/work
xgboost==1.5.1
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1645975313810/work
yellowbrick @ file:///home/conda/feedstock_root/build_artifacts/yellowbrick_1648158830533/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
