absl-py==1.0.0
accelerate
alabaster==0.7.12
appnope
argon2-cffi
argon2-cffi-bindings
astroid
asttokens
astunparse==1.6.3
async-generator==1.10
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blis
bokeh
brotlipy
cached-property
cachetools
cardinality==0.1.1
catalogue
certifi==2022.6.15
cffi
cfgv
charset-normalizer
click
cloudpickle
colorama
colorlover==0.3.0
cryptography
cufflinks==0.17.3
cycler
cymem
cysignals==1.11.2
Cython
cytoolz
dask
dataclasses
debugpy
decorator
defusedxml
dill
distlib
distributed
docutils
en-core-web-sm
entrypoints
enum34==1.1.10
et-xmlfile==1.0.1
executing
fake-useragent==0.1.11
fastjsonschema
filelock
flatbuffers==1.12
flit_core
fonttools
fsspec
future==0.18.2
gast==0.4.0
gensim
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-trans-new==1.1.9
greenlet
grpcio
h11
h5pickle
h5py
HeapDict==1.0.1
httmock==1.4.0
http-request-randomizer==1.3.2
huggingface-hub
identify
idna
imagesize
imbalanced-learn
import-ipynb==0.1.4
importlib-metadata
importlib-resources
importnb
ipykernel
ipynb==0.5.1
ipython
ipython-genutils==0.2.0
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing==1.1.2
kiwisolver
langcodes
langdetect
lazy-object-proxy
libclang==14.0.1
libmaths==0.1.8
littleutils==0.2.2
locket
lxml
lz4
Markdown==3.3.7
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
mizani==0.7.4
Morfessor==2.0.6
mpmath
msgpack
multipledispatch==0.6.0
munkres==1.1.4
murmurhash
mypy
mypy-extensions
natsort
nbclient
nbconvert
nbformat
nbimporter==0.3.4
nest-asyncio
nltk
nodeenv
notebook
numpy
oauthlib==3.2.0
openpyxl
opt-einsum==3.3.0
outcome
outdated
packaging
palettable==3.3.0
pandas==1.4.2
pandas-confusion==0.0.6
pandas-flavor==0.2.0
pandocfilters
parso
partd
pathy
patsy
pexpect
pickleshare
Pillow
pingouin
pipe
platformdirs
plot-metric==0.0.6
plotly==5.8.0
plotnine
pre-commit
preshed
pretty-errors
progressbar==2.5
prometheus-client
prompt-toolkit
protobuf==3.19.4
psutil
ptyprocess
pure-eval
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11
pybind11-global
pycld2==0.41
pycodestyle
pycparser
pydantic
pyfasttext==0.4.6
Pygments
PyICU
pyjanitor
pylint
PyMySQL
pyOpenSSL
pyparsing
PyPDF2
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib==1.3.1
researchpy==0.3.2
rsa==4.8
sacremoses
scikit-learn
scipy
seaborn
selenium
semantic-version==2.10.0
Send2Trash
session-info
setuptools-rust==1.3.0
shellingham
simpledorff==0.0.2
six
sklearn-pandas
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
specification-curve==0.2.6
Sphinx
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml
SQLAlchemy
srsly
stack-data
statannotations==0.4.4
statsmodels
stdlib-list
stop-words
swifter
sympy==1.10.1
tabulate
tblib
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
tensorflow-metal==0.5.0
termcolor==1.1.0
terminado
textblob==0.15.3
thinc
threadpoolctl
tinycss2
tokenizers
toml
tomli
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
typing_extensions
ukkonen
unicodedata2
urllib3
virtualenv
wasabi
wcwidth
webencodings==0.5.1
Werkzeug==2.1.2
whatthelang==1.0.1
widgetsnbextension
wrapt
wsproto==0.14.0
xarray
xgboost==1.5.1
xlrd
XlsxWriter
yellowbrick
zict
zipp
