accelerate
autopep8
beautifulsoup4
gensim
h11
imbalanced-learn
ipykernel
ipython
isort
joblib
jupyter
matplotlib
mypy
nltk
numpy
optuna
pandas
pingouin
pip
python-dotenv
requests
scikit-learn
scipy
seaborn
selenium
spacy
statsmodels
textblob
tqdm
unicodedata2
webdriver-manager
xgboost
